extends ../layout
include ../partials/paginate.pug

block content
    table.table
        tr
            th Tiêu đề
            th Ngày tạo
        each item in data.data
            tr
                td
                    span=item.title
                td
                    -var date = new Date(item.created_at)
                    span=date.toLocaleDateString("en-US")
                td
                    a(href="/news/"+item.id+"/edit") sửa
                td
                    form(onsubmit="return del(this)", action="/news/delete?_method=DETELE", method="POST")
                        input(type="hidden", name="id", value=item.id)
                        button.btn.btn-sm.btn-danger(type="submit") Xoá
    +pagination(data)

    script.
        var formdel = document.querySelector('.f_del')
        function del(event) {
            
            if (confirm("Bạn muốn xoá mục này?")) {
                return true;
            }

            return false;            
        }
