extends ../layout

block content
    table.table
        each item in news
            tr
                td
                    span=item.title
                td
                    span=item.created_at
                td
                    a(href="/news/"+item.id+"/edit")
                        button.btn.btn-sm.btn-secondary sửa